@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");


body {
	font-family: "Montserrat", sans-serif;
}
.container {
	width: 1160px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 90px 0;
}
.header {
	width: 100%;
	position: absolute;
	background-color: rgba(94, 93, 88, 0.6);
	display: flex;
	align-items: center;
}
.navigation {
	width: 1160px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 44px 0;
}
.logo-link {
	display: flex;
}
.logo {
	width: 58px;
	height: 32px;
	background: #18CFAB;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo:before {
	content: "";
	position: absolute;
	top: -17px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-bottom: 17px solid #18CFAB;
}
.logo:after {
	content: "";
	position: absolute;
	bottom: -17px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-top: 17px solid #18CFAB;
}
.logo-h-text {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
}
.logo-text {
	margin-left: 6px;
	font-weight: 400;
	font-size: 32px;
	color: #fff;
}
.logo-text-ham {
	font-weight: 700;
	color: #18CFAB;
}
.menu {
	display: flex;
	align-items: center;
}
.menu-item {
	list-style-type: none;
	text-transform: uppercase;
	margin-left: 21px;
	font-weight: 700;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	position: relative;
}
.menu-item:after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #18CFAB;
	position: absolute;
	left: 0;
	top: 66px;
	visibility: hidden;
}
.menu-item:hover {
	color: #18cfab;
}
.menu-item:hover.menu-item:after {
	visibility: visible;
}
.menu-item-icon {
	margin-left: 21px;
	position: relative;
}
.menu-item-icon:after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #18CFAB;
	position: absolute;
	left: 0;
	top: 69px;
	visibility: hidden;
}
.menu-item-icon:hover.menu-item-icon:after {
	visibility: visible;
}
.menu-search-icon {
	width: 21px;
	height: 20px;
	fill: rgba(255, 255, 255, 0.6);
}
.menu-search-icon:hover {
	fill: #18cfab;
}

/* Creative section */
.creative-section {
	height: 100vh;
	background-image: url(../img/section1-back.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.2);
	background-blend-mode: screen;
	color: #fff;
}
.creative-section-container {
	height: calc(100% - 120px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.creative-section-h3 {
	margin-top: 265px;
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
}
.creative-section-colored-text {
	color: #18cfab;
}
.creative-section-h2 {
	margin-top: 22px;
	text-transform: uppercase;
	font-size: 78px;
	font-weight: 700;
}
.creative-section-text {
	color: #d4d4d4;
	font-size: 34px;
	font-weight: 400;
	margin-top: 22px;
}
.creative-section-btn {
	margin-top: 130px;
	width: 170px;
	padding: 16px 0;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 32px;
	font-weight: bold;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	box-shadow: 0 -5px 0px rgb(255, 255, 255);
}
.explore-btn {
	background-color: #18cfab;
}
.purchas-btn {
	margin-left: 25px;
	background-color: #00cbf6;
}

/* About section */
.about-section {
	margin-top: 8px;
	display: flex;
}
.about-section div:nth-child(odd) {
	background-color: #1c2a33;
	color: #18cfab;
	fill: #18cfab;
}
.about-section div:nth-child(even) {
	background-color: #18cfab;
	color: #fff;
	fill: #fff;
}
.about-container {
	width: 25vw;
	height: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.hand-icon {
	width: 61px;
}
.diamond-icon {
	width: 96px;
}
.lamp-icon {
	width: 62px;
}
.devices-icon {
	width: 102px;
}
.about-section-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-top: 28px;
	margin-bottom: 110px;
}

/* Services section */
.section-title {
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: #4e4e4e;
	text-align: center;
	margin-bottom: 100px;
	position: relative;
}
.section-title::before {
	content: "";
	width: 80px;
	height: 1px;
	background-color: #18cfab;
	position: absolute;
	left: calc(50% - 45px);
	top: 58px;
}
.section-title::after {
	content: "";
	width: 80px;
	height: 1px;
	background-color: #18cfab;
	position: absolute;
	left: calc(50% - 35px);
	top: 62px;
}
.services-container {
	display: flex;
}
.service-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 39px;
	color: #717171;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px;
	width: calc(100% / 6);
	background-color: #f8fcfe;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	box-sizing: border-box;
	cursor: pointer;
}
.service-item:hover {
	border: 2px solid #18cfab;
}
.service-item-selected {
	background-color: #18cfab;
	border: 2px solid #18cfab;
	color: #fff;
	position: relative;
}
.service-item-selected::before {
	content: "";
	position: absolute;
	top: 77px;
	border: 10px solid transparent;
	border-top: 10px solid #18cfab;
}
.service-description-container {
	margin-top: 24px;
}
.sevice-content {
	min-height: 150px;
	display: none;
	text-align: justify;
}
.services-content-active {
	display: flex;
	align-items: flex-start;
}
.service-description-img {
	width: 190px;
	height: 140px;
}
.service-description-text {
	font-weight: 300;
	font-size: 14px;
	color: #777777;
	line-height: 24px;
	margin-left: 15px;
}

/* Purchase section */
.purchase-section {
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url(../img/section4-back.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.purchase-title {
	padding-top: 125px;
	margin-bottom: 15px;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #18cfab;
}
.purchase-text {
    font-size: 16px;
    font-weight: bold;
    color: #D8D8D8;
}
.purchase-btn {
    margin: 70px 0 125px;
    width: 170px;
	padding: 16px 0;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 32px;
	font-weight: 700;
	color: #fff;
	font-family: "Montserrat", sans-serif;
    box-shadow: 0 -5px 0px rgb(255, 255, 255);
    background-color: #18CFAB;
}

/* Work section */
.work-section {
	background-color: #E9EDEF;
}
.work-categories-container {
	display: flex;
	justify-content: center;
	margin: auto;
}
.work-category-item {
	min-width: 80px;
	height: 58px;
	font-size: 14px;
	color: #717171;
	border: 1px solid #DADADA;
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 17px;
	cursor: pointer;
	box-sizing: border-box;
}
.work-category-item:hover {
	border: 2px solid #18CFAB;
	color: #18CFAB;
	z-index: 3;
	padding: 0 16px;
}
.work-category-item-selected {
	border: 2px solid #18CFAB;
	color: #18CFAB;
	z-index: 3;
	padding: 0 16px;
}
.work-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
}
.work-item {
	width: calc(100% / 4);
	height: 210px;
	position: relative;
}
.work-item-hidden {
	display: none;
}
.work-item:hover .work-item-description {
	display: block;
}
.break {
	flex-basis: 100%;
	height: 0;
}
.work-item-picture {
	width: 100%;
	height: 100%;
}
.work-item-description {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #E9EDEF;
}
.work-item-description::before {
	display: block;
	content: "";
	border-top: 2px solid #18CFAB;
}
.icons-container {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}
.work-icon {
	border: 1px solid #18CFAB;
	border-radius: 30px;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.work-icon:hover {
	background-color: #18CFAB;
}
.work-icon:hover :first-child{
	fill: #fff;
}
.chain-icon {
	width: 17px;
	height: 17px;
	fill:  #18CFAB;
}
.rect-icon {
	width: 12px;
	height: 12px;
	fill:  #18CFAB;
}
.work-card-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #18CFAB;
	margin-top: 40px;
	text-align: center;
}
.work-category-name {
	font-size: 12px;
	font-weight: 300;
	color: #8A8A8A;
	margin-top: 11px;
	text-align: center;
}
.load-more-btn {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	background-color: #18CFAB;
	padding: 22px 20px;
	display: block;
	margin: 70px auto 0;
}
.plus-icon {
	width: 18px;
	height: 18px;
	fill: #fff;
	margin-right: 10px;
	margin-bottom: -3px;
}

/* News section */
.news-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 35px;
	grid-row-gap: 45px;
}
.news-item {
	width: 100%;
	height: 276px;
	background-color: #F8FCFE;
}
.news-pic-container {
	width: 263px;
	position: relative;
}
.news-date-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 68px;
	background-color: #203E38;
	box-sizing: border-box;
	padding-top: 13px;
}
.news-date-text {
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.news-post-title {
	font-weight: 700;
	font-size: 18px;
	color: #717171;
	line-height: 39px;
	margin-left: 25px;
}
.news-post-info {
	font-size: 14px;
	font-weight: 300;
	color: #777;
	margin-left: 22px;
}
.news-post-info-separator {
	margin: 0 15px 0 15px;
}
.news-item:hover .news-date-container {
	background-color: #18CFAB;
}
.news-item:hover .news-post-title {
	color: #18CFAB;
}

/* Review section */
.review-section {
	height: 900px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	background-image: url(../img/section7-back.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-blend-mode: overlay;
}
.color-white {
	color: #fff;
}
.quotes-icon {
	width: 50px;
	height: 35px;
	fill: #18CFAB;
	display: block;
	margin: auto;
}
.review-text {
	margin-top: 36px;
	color: #BBBBBB;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
	height: 50px;
}
.review-name {
	margin-top: 35px;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #18CFAB;
	text-align: center;
}
.review-profession {
	margin-top: 16px;
	color: #BBBBBB;
	font-weight: 300;
	font-size: 13px;
	text-align: center;
}
.review-big-photo {
	width: 143px;
	height: 143px;
	border: 10px solid rgba(31,218,181,0.3);
	border-radius: 150px;
	display: block;
	margin: 40px auto 0;
}
.review-photo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 90px;
	height: 130px;
}
.review-arrow {
	width: 30px;
	height: 30px;
	border: 1px solid #BBBBBB;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 0 19px 0 19px;
	border-radius: 0;
	background-color: transparent;
}
.review-arrow:hover {
	background-color: #18CFAB;
	border: 1px solid #18CFAB;
}
.review-icon {
	width: 10px;
	height: 15px;
	fill: #BBBBBB;

}
.review-arrow:hover .review-icon {
	fill: #FFFFFF;
}
.review-small-photo {
	width: 60px;
	height: 60px;
	border: 5px solid rgba(31,218,181,0.3);
	border-radius: 150px;
	margin: 0 19px 0 19px;
	cursor: pointer;
	transition: 0.5s;
	transition-property: margin-bottom;
}
.active-photo {
	margin-bottom: 30px;
	transition: 0.5s;
	transition-property: margin-bottom;
}

/* Footer */
.footer {
	padding: 47px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #22353F;
	color: #AEAEAE;
}
.footer-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
}
.footer-colored {
	color: #18CFAB;
}
/* Loader */
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0;
	overflow: hidden;
	visibility: hidden;
  }
.loader-active {
	height: 62px;
	margin: 70px auto 0;
	overflow: visible;
	visibility: visible;
}
.loader-active-gallery {
	margin: 50px auto 80px;
}
@keyframes arrows {
	0%,
	100% {
	  color: black;
	  transform: translateY(0);
	}
	50% {
	  color: #18CFAB;
	  transform: translateY(20px);
	}
}
.loader span {
	--delay: 0s;
	animation: arrows 1s var(--delay) infinite ease-in;
	text-transform: none;
	font-weight: 400;
	font-size: 40px;
}
